---
import AboutMe from "../components/AboutMe.astro";
import Hero from "../components/Hero.astro";
import CodeIcon from "../components/icons/Code.astro";
import ProfileCheck from "../components/icons/ProfileCheck.astro";
import Projects from "../components/Projects.astro";
import SectionContainer from "../components/SectionContainer.astro";
import TitleSection from "../components/TitleSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="David Torrez' portfolio - Web Developer and Programmer"
  description="Hire David Torrez to create your website. Web Developer and instructor. Specialized in creating Responsive and User-friendly interfaces."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36" id="home">
      <Hero />
      <slot />
    </SectionContainer>

    <div class="space-y-24">
      <!-- Experience section commented for now as no experience to show -->
      <!-- <SectionContainer id="experience">
        <TitleSection>
          <Briefcase class="size-8" />
          Work Experience
        </TitleSection>
        <Experience />
      </SectionContainer> -->

      <SectionContainer id="projects" class="scroll-mt-24">
        <TitleSection>
          <CodeIcon class="size-8" />
          Projects
        </TitleSection>
        <Projects />
      </SectionContainer>

      <SectionContainer id="about" class="scroll-mt-24">
        <TitleSection>
          <ProfileCheck class="size-8" />
          About
        </TitleSection>
        <AboutMe />
      </SectionContainer>
    </div>
  </main>
</Layout>
