---
const personalImageAlt = "David Torrez";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      My name is David Torrez, I realized I wanted to be in this industry around
      2021 when I was surfing the internet and looking at some websites with
      amazing effects and animations, <strong
        >since then I started watching tutorials about CSS and HTML, as well as
        taking some online courses.</strong
      >
    </p>

    <p>
      I took a Bachelor's degree in Bilingual Education in Colombia and
      graduated in 2021, after a couple of years trying to learn about Web
      Development on my own, I wanted to level up, therefore, I decided to come
      to Canada to pursue a formal education in Web Development at <strong
        ><a
          href="https://ciccc.ca/"
          rel="noopener noreferrer"
          class="hover:underline">CICCC</a
        ></strong
      >.
    </p>

    <p>
      When I'm not coding, I'm usually watching a movie, riding my bicycle,
      working out, or spending time with relatives or friends.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/picture-1.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
